.header-top-row {
  padding: 2px 0px;
}
.logo {
  width: 39px;
  padding: 0 2px;

  @include respond(max-width-1371px) {
    width: 35px;
  }

  // width < 1172px?
  @include respond(max-width-1302px) {
    width: 35px;
  }

  // width < 1089px?
  @include respond(max-width-1208px) {
    width: 35px;
  }

  // width < 1005px?
  @include respond(max-width-1117px) {
    width: 30px;
  }

  // width < 884px?
  @include respond(max-width-982px) {
    width: 28px;
  }

  // width < 835px?
  @include respond(max-width-928px) {
    width: 26px;
  }

  // width < 820px?
  @include respond(max-width-912px) {
    width: 24px;
  }

  // width < 785px?
  @include respond(max-width-872px) {
    width: 22px;
  }

  // width < 757px?
  @include respond(max-width-841px) {
    width: 21px;
  }

  // width < 758px?
  @include respond(max-width-796px) {
    width: 21px;
  }

  // width < 708px?
  @include respond(max-width-787px) {
    width: 20px;
  }

  // width < 704px?
  @include respond(max-width-787px) {
    width: 18px;
  }

  // width < 600px?
  @include respond(max-width-685px) {
    width: 17px;
  }

  // width < 513px?
  @include respond(max-width-571px) {
    width: 15.5px;
    padding: 0 2.7px;
  }

  // width < 411px?
  @include respond(max-width-469px) {
    width: 14.5px;
    padding: 0 2.7px;
  }

  // width < 371px?
  @include respond(max-width-412px) {
    width: 14px;
    padding: 0 2px;
  }
}

.btn {
  &-left {
    width: 34px;
    height: 34px;
    margin-left: 1px;
    padding-left: 9.2px;

    @include respond(max-width-1371px) {
      width: 30px;
      height: 30px;
      padding-left: 8.8px;
    }

    // width < 1172px?
    @include respond(max-width-1302px) {
      width: 29px;
      height: 29px;
      padding-left: 8.2px;
    }

    // width < 1089px?
    @include respond(max-width-1208px) {
      width: 26px;
      height: 26px;
      padding-left: 7.5px;
    }

    // width < 1005px?
    @include respond(max-width-1117px) {
      width: 23.5px;
      height: 23.5px;
      margin-left: 1px;
      padding-left: 6px;
    }

    // width < 884px?
    @include respond(max-width-982px) {
      width: 22px;
      height: 22px;
      margin-left: 1px;
      padding-left: 5.5px;
    }

    // width < 835px?
    @include respond(max-width-928px) {
      width: 21px;
      height: 21px;
      margin-left: 0.9px;
      padding-left: 5px;
    }

    // width < 820px?
    @include respond(max-width-912px) {
      width: 20px;
      height: 20px;
      margin-left: 0.5px;
      padding-left: 4.7px;
    }

    // width < 785px?
    @include respond(max-width-872px) {
      width: 18.5px;
      height: 18.5px;
      margin-left: 0.5px;
      padding-left: 4.7px;
    }

    // width < 757px?
    @include respond(max-width-841px) {
      width: 18px;
      height: 18px;
      margin-left: 0.5px;
      padding-left: 4.7px;
    }

    // width < 758px?
    @include respond(max-width-796px) {
      width: 18px;
      height: 18px;
      margin-left: 0.5px;
      padding-left: 4.7px;
    }

    // width < 704px?
    @include respond(max-width-787px) {
      width: 13px;
      height: 13px;
      margin-left: 0.1px;
      padding-left: 2.9px;
    }

    // width < 600px?
    @include respond(max-width-685px) {
      width: 11px;
      height: 11px;
      margin-left: 0.05px;
      padding-left: 2.1px;
    }

    // width < 513px?
    @include respond(max-width-571px) {
      width: 8.4px;
      height: 8.4px;
      margin-left: 0.005px;
      padding-left: 1.6px;
    }

    // width < 411px?
    @include respond(max-width-469px) {
      width: 7.7px;
      height: 7.7px;
      margin-left: 0.005px;
      padding-left: 1.6px;
    }

    // width < 371px?
    @include respond(max-width-412px) {
      width: 7.5px;
      height: 7.5px;
      margin-left: 0.005px;
      padding-left: 1.6px;
    }

    &-svg {
      width: 15px;
      height: 15px;

      @include respond(max-width-1371px) {
        width: 12px;
        height: 12px;
      }

      // width < 1172px?
      @include respond(max-width-1302px) {
        width: 11.5px;
        height: 11.5px;
      }

      // width < 1089px?
      @include respond(max-width-1208px) {
        width: 11.2px;
        height: 11.2px;
      }

      // width < 1005px?
      @include respond(max-width-1117px) {
      }

      // width < 884px?
      @include respond(max-width-982px) {
        width: 10px;
        height: 10px;
      }

      // width < 835px?
      @include respond(max-width-928px) {
        width: 9px;
        height: 9px;
      }

      // width < 820px?
      @include respond(max-width-912px) {
        width: 8px;
        height: 8px;
      }

      // width < 785px?
      @include respond(max-width-872px) {
        width: 7px;
        height: 7px;
      }

      // width < 757px?
      @include respond(max-width-841px) {
        width: 7px;
        height: 7px;
      }

      // width < 758px?
      @include respond(max-width-796px) {
        width: 7px;
        height: 7px;
      }

      // width < 708px?
      @include respond(max-width-787px) {
        width: 7px;
        height: 7px;
      }

      // width < 704px?
      @include respond(max-width-787px) {
        width: 6px;
        height: 6px;
      }

      // width < 600px?
      @include respond(max-width-685px) {
        width: 5.7px;
        height: 5.7px;
      }

      // width < 513px?
      @include respond(max-width-571px) {
        width: 5px;
        height: 5px;
      }

      // width < 411px?
      @include respond(max-width-469px) {
        width: 4.1px;
        height: 4.1px;
      }

      // width < 371px?
      @include respond(max-width-412px) {
        width: 3.7px;
        height: 3.7px;
      }
    }
  }

  &-right {
    width: 34px;
    height: 34px;
    margin-left: -15px;
    padding-left: 8.2px;
    padding-top: 4.5px;
    padding-bottom: 5.5px;

    @include respond(max-width-1371px) {
      width: 30px;
      height: 30px;
      padding-left: 7.5px;
      padding-top: 4.2px;
      padding-bottom: 5.7px;
    }

    // width < 1172px?
    @include respond(max-width-1302px) {
      width: 29px;
      height: 29px;
      margin-left: -12.5px;
      padding-left: 7.1px;
      padding-top: 4px;
      padding-bottom: 5.2px;
    }

    // width < 1089px?
    @include respond(max-width-1208px) {
      width: 26px;
      height: 26px;
      margin-left: -12.9px;
      padding-left: 6.5px;
      padding-top: 4px;
      padding-bottom: 4.6px;
    }

    // width < 1005px?
    @include respond(max-width-1117px) {
      width: 23.5px;
      height: 23.5px;
      margin-left: -9.9px;
      padding-left: 5.5px;
      padding-top: 3.5px;
      padding-bottom: 4.1px;
    }

    // width < 884px?
    @include respond(max-width-982px) {
      width: 22px;
      height: 22px;
      margin-left: -9.5px;
      padding-left: 4.7px;
      padding-top: 3px;
      padding-bottom: 4.1px;
    }

    // width < 835px?
    @include respond(max-width-928px) {
      width: 21px;
      height: 21px;
      margin-left: -9px;
      padding-left: 4px;
      padding-top: 2.5px;
      padding-bottom: 3.6px;
    }

    // width < 820px?
    @include respond(max-width-912px) {
      width: 20px;
      height: 20px;
      margin-left: -8.5px;
      padding-left: 3.7px;
      padding-top: 2.2px;
      padding-bottom: 3.5px;
    }

    // width < 785px?
    @include respond(max-width-872px) {
      width: 18.5px;
      height: 18.5px;
      margin-left: -8.5px;
      padding-left: 3.7px;
      padding-top: 2.2px;
      padding-bottom: 3.5px;
    }

    // width < 757px?
    @include respond(max-width-841px) {
      width: 18px;
      height: 18px;
      margin-left: -8px;
      padding-left: 3.6px;
      padding-top: 2.2px;
      padding-bottom: 3.5px;
    }

    // width < 758px?
    @include respond(max-width-796px) {
      width: 18px;
      height: 18px;
      margin-left: -8px;
      padding-left: 3.6px;
      padding-top: 2.2px;
      padding-bottom: 3.5px;
    }

    // width < 708px?
    @include respond(max-width-787px) {
      width: 18px;
      height: 18px;
      margin-left: -8px;
      padding-left: 3.6px;
      padding-top: 2.2px;
      padding-bottom: 3.5px;
    }

    // width < 704px?
    @include respond(max-width-787px) {
      width: 13px;
      height: 13px;
      margin-left: -6px;
      padding-left: 1.9px;
      padding-top: 1.6px;
      padding-bottom: 3.5px;
    }

    // width < 600px?
    @include respond(max-width-685px) {
      width: 11px;
      height: 11px;
      margin-left: -5.5px;
      padding-left: 1.4px;
      padding-top: 1.2px;
      padding-bottom: 3px;
    }

    // width < 513px?
    @include respond(max-width-571px) {
      width: 8.4px;
      height: 8.4px;
      margin-left: -4.1px;
      padding-left: 0.5px;
      padding-top: 0.7px;
      padding-bottom: 2.1px;
    }

    // width < 411px?
    @include respond(max-width-469px) {
      width: 7.7px;
      height: 7.7px;
      margin-left: -3.5px;
      padding-left: 0.3px;
      padding-top: 0.7px;
      padding-bottom: 2.1px;
    }

    // width < 371px?
    @include respond(max-width-412px) {
      width: 7.5px;
      height: 7.5px;
      margin-left: -3.5px;
      padding-left: 0.6px;
      padding-top: 0.7px;
      padding-bottom: 2.1px;
    }

    &-svg {
      width: 15px;
      height: 15px;

      @include respond(max-width-1371px) {
        width: 14px;
        height: 14px;
      }

      // width < 1172px?
      @include respond(max-width-1302px) {
        width: 13px;
        height: 13px;
      }

      // width < 1089px?
      @include respond(max-width-1208px) {
        width: 12px;
        height: 12px;
      }

      // width < 1005px?
      @include respond(max-width-1117px) {
        width: 12px;
        height: 12px;
      }

      // width < 884px?
      @include respond(max-width-982px) {
        width: 11px;
        height: 11px;
      }

      // width < 835px?
      @include respond(max-width-928px) {
        width: 10px;
        height: 10px;
      }

      // width < 820px?
      @include respond(max-width-912px) {
        width: 10px;
        height: 10px;
      }

      // width < 785px?
      @include respond(max-width-872px) {
        width: 9px;
        height: 9px;
      }

      // width < 757px?
      @include respond(max-width-841px) {
        width: 8.5px;
        height: 8.5px;
      }

      // width < 758px?
      @include respond(max-width-796px) {
        width: 8.5px;
        height: 8.5px;
      }

      // width < 708px?
      @include respond(max-width-787px) {
        width: 8.5px;
        height: 8.5px;
      }

      // width < 704px?
      @include respond(max-width-787px) {
        width: 7.5px;
        height: 7.5px;
      }

      // width < 600px?
      @include respond(max-width-685px) {
        width: 7px;
        height: 7px;
      }

      // width < 513px?
      @include respond(max-width-571px) {
        width: 5.5px;
        height: 5.5px;
      }

      // width < 411px?
      @include respond(max-width-469px) {
        width: 4.1px;
        height: 4.1px;
      }

      // width < 371px?
      @include respond(max-width-412px) {
        width: 3.9px;
        height: 3.9px;
      }
    }
  }

  &-menu {
    width: 34px;
    height: 34px;
    padding-left: 8.1px;
    padding-top: 4.5px;
    padding-bottom: 5.5px;

    @include respond(max-width-1371px) {
      width: 30px;
      height: 30px;
    }

    // width < 1172px?
    @include respond(max-width-1302px) {
      width: 29px;
      height: 29px;
      padding-left: 7.6px;
    }

    // width < 1089px?
    @include respond(max-width-1208px) {
      width: 26px;
      height: 26px;
      padding-left: 6.5px;
      padding-top: 3.9px;
      padding-bottom: 4.9px;
    }

    // width < 1005px?
    @include respond(max-width-1117px) {
      width: 23.5px;
      height: 23.5px;
      padding-left: 5.7px;
      padding-top: 3.2px;
      padding-bottom: 4.2px;
    }

    // width < 884px?
    @include respond(max-width-982px) {
      width: 22px;
      height: 22px;
      padding-left: 5px;
      padding-top: 2.9px;
      padding-bottom: 3.9px;
    }

    // width < 835px?
    @include respond(max-width-928px) {
      width: 21px;
      height: 21px;
      padding-left: 4.5px;
      padding-top: 2.5px;
      padding-bottom: 3.5px;
    }

    // width < 820px?
    @include respond(max-width-912px) {
      width: 20px;
      height: 20px;
      padding-left: 4px;
      padding-top: 2.5px;
      padding-bottom: 3.5px;
    }

    // width < 785px?
    @include respond(max-width-872px) {
      width: 18.5px;
      height: 18.5px;
      padding-left: 4px;
      padding-top: 2.5px;
      padding-bottom: 3.5px;
    }

    // width < 757px?
    @include respond(max-width-841px) {
      width: 18px;
      height: 18px;
      padding-left: 3.8px;
      padding-top: 2.5px;
      padding-bottom: 3.5px;
    }

    // width < 758px?
    @include respond(max-width-796px) {
      width: 18px;
      height: 18px;
      padding-left: 3.8px;
      padding-top: 2.5px;
      padding-bottom: 3.5px;
    }

    // width < 708px?
    @include respond(max-width-787px) {
      width: 18px;
      height: 18px;
      padding-left: 3.8px;
      padding-top: 2.5px;
      padding-bottom: 3.5px;
    }

    // width < 704px?
    @include respond(max-width-787px) {
      width: 13px;
      height: 13px;
      padding-left: 2.2px;
      padding-top: 1.9px;
      padding-bottom: 2.9px;
    }

    // width < 600px?
    @include respond(max-width-685px) {
      width: 11px;
      height: 11px;
      padding-left: 1.1px;
      padding-top: 1.1px;
      padding-bottom: 1.9px;
    }

    // width < 513px?
    @include respond(max-width-571px) {
      width: 8.4px;
      height: 8.4px;
      padding-left: 0.4px;
      padding-top: 0.4px;
      padding-bottom: 0.4px;
    }

    // width < 411px?
    @include respond(max-width-469px) {
      width: 7.7px;
      height: 7.7px;
      padding-left: 0.2px;
      padding-top: 0.4px;
      padding-bottom: 0.4px;
    }

    // width < 371px?
    @include respond(max-width-412px) {
      width: 7.5px;
      height: 7.5px;
      padding-left: 0.2px;
      padding-top: 0.4px;
      padding-bottom: 0.4px;
    }

    &-svg {
      width: 15px;
      height: 15px;

      @include respond(max-width-1371px) {
        width: 14px;
        height: 14px;
      }

      // width < 1172px?
      @include respond(max-width-1302px) {
        width: 13px;
        height: 13px;
      }

      // width < 1089px?
      @include respond(max-width-1208px) {
        width: 12px;
        height: 12px;
      }

      // width < 1005px?
      @include respond(max-width-1117px) {
        width: 12px;
        height: 12px;
      }

      // width < 884px?
      @include respond(max-width-982px) {
        width: 11px;
        height: 11px;
      }

      // width < 835px?
      @include respond(max-width-928px) {
        width: 10px;
        height: 10px;
      }

      // width < 820px?
      @include respond(max-width-912px) {
        width: 9px;
        height: 9px;
      }

      // width < 785px?
      @include respond(max-width-872px) {
        width: 8.5px;
        height: 8.5px;
      }

      // width < 757px?
      @include respond(max-width-841px) {
        width: 8.2px;
        height: 8.2px;
      }

      // width < 758px?
      @include respond(max-width-796px) {
        width: 8px;
        height: 8px;
      }

      // width < 708px?
      @include respond(max-width-787px) {
        width: 8px;
        height: 8px;
      }

      // width < 704px?
      @include respond(max-width-787px) {
        width: 7.5px;
        height: 7.5px;
      }

      // width < 600px?
      @include respond(max-width-685px) {
        width: 6.8px;
        height: 6.8px;
      }

      // width < 513px?
      @include respond(max-width-571px) {
        width: 5.3px;
        height: 5.3px;
      }

      // width < 411px?
      @include respond(max-width-469px) {
        width: 4.1px;
        height: 4.1px;
      }

      // width < 371px?
      @include respond(max-width-412px) {
        width: 3.7px;
        height: 3.7px;
      }
    }
  }

  &-submit {
    height: 34px;

    @include respond(max-width-1371px) {
      height: 30px;
    }

    // width < 1172px?
    @include respond(max-width-1302px) {
      height: 29px;
    }

    // width < 1089px?
    @include respond(max-width-1208px) {
      height: 26px;
    }

    // width < 1005px?
    @include respond(max-width-1117px) {
      height: 23.5px;
    }

    // width < 884px?
    @include respond(max-width-982px) {
      height: 22px;
    }

    // width < 835px?
    @include respond(max-width-928px) {
      height: 21px;
    }

    // width < 820px?
    @include respond(max-width-912px) {
      height: 20px;
    }

    // width < 785px?
    @include respond(max-width-872px) {
      height: 19px;
    }

    // width < 757px?
    @include respond(max-width-841px) {
      height: 18px;
    }

    // width < 758px?
    @include respond(max-width-796px) {
      height: 18px;
    }

    // width < 708px?
    @include respond(max-width-787px) {
      height: 18px;
    }

    // width < 704px?
    @include respond(max-width-787px) {
      height: 13px;
    }

    // width < 600px?
    @include respond(max-width-685px) {
      height: 11px;
    }

    // width < 513px?
    @include respond(max-width-571px) {
      height: 8.4px;
    }

    // width < 411px?
    @include respond(max-width-469px) {
      height: 7.7px;
    }

    // width < 371px?
    @include respond(max-width-412px) {
      height: 7.5px;
    }
  }
}

.container-svg {
  width: 16px;
  height: 16px;

  @include respond(max-width-1371px) {
    width: 14px;
    height: 14px;
  }

  // width < 1172px?
  @include respond(max-width-1302px) {
    width: 13px;
    height: 13px;
  }

  // width < 1089px?
  @include respond(max-width-1208px) {
    width: 12px;
    height: 12px;
  }

  // width < 1005px?
  @include respond(max-width-1117px) {
    width: 12px;
    height: 12px;
  }

  // width < 884px?
  @include respond(max-width-982px) {
    width: 11px;
    height: 11px;
  }

  // width < 835px?
  @include respond(max-width-928px) {
    width: 10px;
    height: 10px;
  }

  // width < 820px?
  @include respond(max-width-912px) {
    width: 9px;
    height: 9px;
  }

  // width < 785px?
  @include respond(max-width-872px) {
    width: 8.5px;
    height: 8.5px;
  }

  // width < 757px?
  @include respond(max-width-841px) {
    width: 8.2px;
    height: 8.2px;
  }

  // width < 758px?
  @include respond(max-width-796px) {
    width: 8px;
    height: 8px;
  }

  // width < 708px?
  @include respond(max-width-787px) {
    width: 8px;
    height: 8px;
  }

  // width < 704px?
  @include respond(max-width-787px) {
    width: 7.5px;
    height: 7.5px;
  }

  // width < 600px?
  @include respond(max-width-685px) {
    width: 6.8px;
    height: 6.8px;
  }

  // width < 513px?
  @include respond(max-width-571px) {
    width: 5.3px;
    height: 5.3px;
  }

  // width < 411px?
  @include respond(max-width-469px) {
    width: 4.1px;
    height: 4.1px;
  }

  // width < 371px?
  @include respond(max-width-412px) {
    width: 3.7px;
    height: 3.7px;
  }
}

.p7ajO {
  margin-left: 8px;
}

.HmGUP {
  font-size: 68.75%; // 1rem = 11px;  11px/16px = 62.5%
  letter-spacing: 0.02em;
  margin-top: -10px;
  margin-bottom: 2px;

  // width < 1234px?
  @include respond(max-width-1371px) {
    font-size: 65.63%; // 1rem = 10.5px;  10.5px/16px = 65.62%
    margin-top: -8px;
    margin-bottom: 2px;
  }

  // width < 1172px?
  @include respond(max-width-1302px) {
    font-size: 65.63%; // 1rem = 10.5px;  10.5px/16px = 65.62%
    margin-top: -7px;
    margin-bottom: 2px;
  }

  // width < 1089px?
  @include respond(max-width-1208px) {
    font-size: 65.63%; // 1rem = 10.5px;  10.5px/16px = 65.62%
    margin-top: -5.6px;
    margin-bottom: 2px;
  }

  // width < 1005px?
  @include respond(max-width-1117px) {
    font-size: 65.63%; // 1rem = 10.5px;  10.5px/16px = 65.62%
    margin-top: -4.9px;
    margin-bottom: 2px;
  }

  // width < 884px?
  @include respond(max-width-982px) {
    font-size: 65.63%; // 1rem = 10.5px;  10.5px/16px = 65.62%
    margin-top: -5px;
    margin-bottom: 3.3px;
  }

  // width < 835px?
  @include respond(max-width-928px) {
    font-size: 59.38%; // 1rem = 10.5px;  10.5px/16px = 65.62%
    margin-top: -5.3px;
    margin-bottom: 3.9px;
  }

  // width < 820px?
  @include respond(max-width-912px) {
    font-size: 59.38%; // 1rem = 10.5px;  10.5px/16px = 65.62%
    margin-top: -3.9px;
    margin-bottom: 4.2px;
  }

  // width < 785px?
  @include respond(max-width-872px) {
    font-size: 58.13%; // 1rem = 9.3px;  10.5px/16px = 65.62%
    margin-top: -3.9px;
    margin-bottom: 4.5px;
  }

  // width < 757px?
  @include respond(max-width-841px) {
    font-size: 58.13%; // 1rem = 9.3px;  10.5px/16px = 65.62%
    margin-top: -3.9px;
    margin-bottom: 5px;
  }

  // width < 758px?
  @include respond(max-width-796px) {
    font-size: 58.13%; // 1rem = 9.3px;  10.5px/16px = 65.62%
    margin-top: -3.9px;
    margin-bottom: 5px;
  }

  // width < 708px?
  @include respond(max-width-787px) {
    font-size: 58.13%; // 1rem = 9.3px;  10.5px/16px = 65.62%
    margin-top: -3.9px;
    margin-bottom: 5px;
  }

  // width < 704px?
  @include respond(max-width-787px) {
    font-size: 58.13%; // 1rem = 9.3px;  10.5px/16px = 65.62%
    margin-top: -2.6px;
    margin-bottom: 5.5px;
  }

  // width < 600px?
  @include respond(max-width-685px) {
    font-size: 58.13%; // 1rem = 9.3px;  10.5px/16px = 65.62%
    margin-top: -2.1px;
    margin-bottom: 6px;
  }

  // width < 513px?
  @include respond(max-width-571px) {
    font-size: 58.13%; // 1rem = 9.3px;  10.5px/16px = 65.62%
    margin-top: -2px;
    margin-bottom: 6.7px;
  }

  // width < 411px?
  @include respond(max-width-469px) {
    font-size: 52%; // 1rem = 9.3px;  10.5px/16px = 65.62%
    margin-top: 0.025px;
    margin-bottom: 6.3px;
  }

  // width < 371px?
  @include respond(max-width-412px) {
    font-size: 47%; // 1rem = 9.3px;  10.5px/16px = 65.62%
    margin-top: 0.025px;
    margin-bottom: 6.3px;
  }
}

.S48vf {
  margin-top: -8px;
}

.KHq0c {
  margin-top: 4px;
}

.vr {
  content: '';
  height: 35px;
  margin-top: 4px;
  width: 1px;

  // width < 1234px?
  @include respond(max-width-1371px) {
    height: 33px;
  }

  // width < 1172px?
  @include respond(max-width-1302px) {
    height: 27px;
  }

  // width < 1089px?
  @include respond(max-width-1208px) {
    height: 25px;
  }

  // width < 1005px?
  @include respond(max-width-1117px) {
    height: 22px;
  }

  // width < 884px?
  @include respond(max-width-982px) {
    height: 20px;
  }

  // width < 835px?
  @include respond(max-width-928px) {
    height: 19px;
  }

  // width < 820px?
  @include respond(max-width-912px) {
    height: 18px;
  }

  // width < 785px?
  @include respond(max-width-872px) {
    height: 17px;
  }

  // width < 757px?
  @include respond(max-width-841px) {
    height: 16px;
    width: 0.5px;
  }

  //width < 758px?
  @include respond(max-width-796px) {
    height: 16px;
    width: 0.5px;
  }

  // width < 708px?
  @include respond(max-width-787px) {
    height: 15px;
    width: 0.5px;
  }
  // width < 704px?
  @include respond(max-width-787px) {
    height: 10px;
    width: 0.5px;
  }

  // width < 600px?
  @include respond(max-width-685px) {
    height: 9px;
    width: 0.5px;
  }

  // width < 513px?
  @include respond(max-width-571px) {
    height: 5.5px;
    width: 0.5px;
    margin-top: 2.7px;
  }

  // width < 411px?
  @include respond(max-width-469px) {
    height: 5.5px;
    width: 0.5px;
    margin-top: 2.7px;
  }

  // width < 371px?
  @include respond(max-width-412px) {
    height: 5.5px;
    width: 0.5px;
    margin-top: 2.7px;
  }
}

.search-unsplash-title {
  margin: 10px auto;
}

.search-btn {
  width: 50vw;
  z-index: 3;
  position: absolute;
  left: 3.1vw;
  top: 9vh;

  @include respond(max-width-1371px) {
  }

  // width < 1172px?
  @include respond(max-width-1302px) {
  }

  // width < 1089px?
  @include respond(max-width-1208px) {
    top: 8.2vh;
  }

  // width < 1005px?
  @include respond(max-width-1117px) {
    top: 7.5vh;
  }

  // width < 884px?
  @include respond(max-width-982px) {
    top: 7vh;
  }

  // width < 835px?
  @include respond(max-width-928px) {
    top: 6.7vh;
  }

  // width < 820px?
  @include respond(max-width-912px) {
    top: 6.5vh;
  }

  // width < 785px?
  @include respond(max-width-872px) {
    top: 6.1vh;
  }

  // width < 757px?
  @include respond(max-width-841px) {
    top: 5.9vh;
  }
  // width < 758px?
  @include respond(max-width-796px) {
    top: 5.5vh;
  }

  // width < 708px?
  @include respond(max-width-787px) {
    top: 4.5vh;
    left: 2.8vw;
  }

  // width < 600px?
  @include respond(max-width-685px) {
    top: 4.2vh;
    left: 2.5vw;
  }

  // width < 513px?
  @include respond(max-width-571px) {
    top: 3.5vh;
    left: 2.8vw;
  }

  // width < 411px?
  @include respond(max-width-469px) {
    top: 3vh;
    left: 2.8vw;
  }

  // width < 371px?
  @include respond(max-width-412px) {
    top: 2.9vh;
    left: 2.8vw;
  }
}

.search-image-btn {
  width: 45vw;
  z-index: 3;
  position: absolute;
  left: 20vw;
  top: 70px;

  @include respond(max-width-1371px) {
  }

  // width < 1172px?
  @include respond(max-width-1302px) {
  }

  // width < 1089px?
  @include respond(max-width-1208px) {
    top: 8.2vh;
  }

  // width < 1005px?
  @include respond(max-width-1117px) {
    top: 7.5vh;
  }

  // width < 884px?
  @include respond(max-width-982px) {
    top: 7vh;
  }

  // width < 835px?
  @include respond(max-width-928px) {
    top: 6.7vh;
  }

  // width < 820px?
  @include respond(max-width-912px) {
    top: 6.5vh;
  }

  // width < 785px?
  @include respond(max-width-872px) {
    top: 6.1vh;
  }

  // width < 757px?
  @include respond(max-width-841px) {
    top: 5.9vh;
  }
  // width < 758px?
  @include respond(max-width-796px) {
    top: 5.5vh;
  }

  // width < 708px?
  @include respond(max-width-787px) {
    top: 4.5vh;
  }

  // width < 600px?
  @include respond(max-width-685px) {
    top: 4.2vh;
  }

  // width < 513px?
  @include respond(max-width-571px) {
    top: 3.5vh;
  }

  // width < 411px?
  @include respond(max-width-469px) {
    top: 3vh;
  }

  // width < 371px?
  @include respond(max-width-412px) {
    top: 2.9vh;
  }
}
