* {
  box-sizing: border-box;
}

.L_F0b {
  position: relative;
}

.p7ajO {
  margin-left: 8px;
}

.HmGUP {
  font-size: 10px;
  letter-spacing: 0.02em;
  margin-top: -9px;
  margin-bottom: 3px;
}

.S48vf {
  margin-top: -8px;
}

.KHq0c {
  margin-top: 4px;
}

.TB3Zf:after,
.TB3Zf:before {
  bottom: 0;
  content: '';
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
}

.vr {
  content: '';
  height: 40px;
  margin-top: 4px;
  width: 1px;
}

.search-unsplash-gap {
  margin-left: 15px;
}

.search-unsplash-title {
  margin: 10px auto;
}

.view-more-links-20 {
  margin-left: 20px;
}

.view-more-links-15 {
  margin-left: 15px;
}

.image-section {
  position: relative;
  margin-bottom: 48px;
}

.image-section-description {
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue,
    Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  color: #fff;
}

.Fu4vG {
  position: absolute;
  font-size: 3.27vw;
  line-height: 1.2;
  font-weight: 700;
  top: 40vh;
  left: 30vw;
}

.o4ViM {
  position: absolute;
  top: 50vh;
  left: 30vw;
  font-weight: 400;
  font-size: 1.627vw;
}

.eIg8I {
  position: absolute;
  top: 55vh;
  left: 30vw;
  font-weight: 400;
  font-size: 1.627vw;
}

.H4eZF {
  top: 45vh;
  left: 30vw;
  text-decoration-skip-ink: auto;
  transition: color 0.1s ease-in-out, opacity 0.1s ease-in-out;
  color: #fff;
  text-decoration: none;
}

.ujgWJ {
  position: absolute;
  bottom: 3vh;
  left: 5vh;
}

.qDYfA {
  margin-left: 20vw;
  text-decoration-skip-ink: auto;
  transition: color 0.1s ease-in-out, opacity 0.1s ease-in-out;
  color: #fff;
}

.H4eZF:hover {
  color: #fffc;
}

.result-section {
  position: relative;
  margin-bottom: 48px;
}

.detail-section {
  position: relative;
  margin-bottom: 48px;
}

.detail-section-description {
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue,
    Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  color: #fff;
}

.detail-section-left {
  margin: 8vh 6.2vw;
}

.detail-header {
  font-size: 3.125vw;
  line-height: 1.2;
  margin-bottom: '2.165vh';
  font-weight: 700;
  margin-top: '0vh';
}

.detail-content {
  margin-bottom: 0vh;
  margin-top: 0vh;
  max-width: 40.36vw;
  font-weight: 400;
  font-size: 1.17vw;
  line-height: 1.875vw;
}

.detail-section-right {
  padding: 15px 20px;
}

.stats-section {
  width: 24.041vw;
  margin-left: 4vw;
}

.stats-section-card {
  width: 24.041vw;
  margin: 6vw 0vw 2vw 0vw;
  font-size: 1.042vw;
}

.last-date {
  color: #767676;
  font-size: 0.78125vw;
  text-align: center;
  margin-trim: 10px;
  margin-top: 10px;
}
